@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
        34, 34, 34 - dark gray
        37, 68, 65 - light gray
        241, 143, 1 - yellow
        218, 218, 218 - light light gray
 */
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(37, 68, 65);
  color: rgb(179, 179, 179);
}